*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
}
#container{
    width: 1200px;
    height: 600px;
    background-color: blueviolet;
    border: 1px solid black;
    padding: 1px;
    margin-left: 20px;
}
.menu{
    width: 1200px;
    margin-top: 20px;
    
    height: 60px;
    background-color: red;   
}
.main-content{
    width: 1200px;
    margin-top: 20px;
    
    height: 60px;
    background-color:green;   
}
.footer{
    width: 1200px;
    margin-top: 20px;
    
    height: 60px;
    background-color:yellow;   
}